/* GENERAL */
* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
html {
  overflow-y: scroll;
  background: #FFF;
}

header, main, #no-results, footer {
  width: 1000px;
  margin: 0 auto;
}
main {
  min-height: 360px;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
header {
  position: relative;
  height: 80px;
  margin-top: 5px;
  border-bottom: 2px solid #eee;
}
#logo_image {
  position: absolute;
  top: 25px;
  left: 0;
  float: left;
}

#logo_image img {
  height: 50px;
}

.navbar
{
	overflow: hidden;	
	margin-right:5px;
	margin-top:35px;
	height: 40px;
}

.navbar a {
	float: right;
	text-align:center;
	font-size: 38px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
	color: #ff0000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* FOOTER */
footer {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #ff0000;
}
footer a:hover {
  text-decoration: underline;
  color: #ff0000;
}
